@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: rgb(241, 242, 246);
}
body .container {
  width: 100vw;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin: 2rem;
}
body .leftcontainer {
  width: 50vw;
  height: 140vh;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
body .leftcontainer .leftcontainer-topcontainer {
  width: 100%;
  height: 15%;
  background-color: white;
  display: flex;
  color: white;
  gap: 0.1rem;
}
body .leftcontainer .leftcontainer-topcontainer .active {
  background-color: #FDDF35;
}
body .leftcontainer .leftcontainer-topcontainer .active h2 {
  color: rgb(48, 67, 92);
}
body .leftcontainer .leftcontainer-topcontainer .first {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .leftcontainer .leftcontainer-topcontainer .first h2 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
}
body .leftcontainer .leftcontainer-topcontainer .first h2 span {
  font-size: 0.9rem;
}
body .leftcontainer .leftcontainer-topcontainer .second {
  background-color: #9B9B9B;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .leftcontainer .leftcontainer-topcontainer .second h2 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
}
body .leftcontainer .leftcontainer-topcontainer .second h2 span {
  font-size: 0.9rem;
}
body .leftcontainer .leftcontainer-topcontainer .last {
  background-color: #9B9B9B;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .leftcontainer .leftcontainer-topcontainer .last h2 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
}
body .leftcontainer .leftcontainer-topcontainer .last h2 span {
  font-size: 0.9rem;
}
body .leftcontainer .leftcontainer-bottomcontainer {
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
}
body .leftcontainer .leftcontainer-bottomcontainer .Simuler {
  width: 100%;
  height: 100%;
  padding: 2rem 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.4rem;
}
body .leftcontainer .leftcontainer-bottomcontainer .Simuler button {
  width: 30%;
  background-color: rgb(2, 140, 150);
  color: white;
  border: 3px solid white;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  font-size: 1.3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  padding: 0.3rem 0.5rem;
}
body .leftcontainer .leftcontainer-bottomcontainer .Simuler button span {
  font-size: 0.7rem;
}
body .leftcontainer .leftcontainer-bottomcontainer .Simuler button:hover {
  background-color: rgb(1, 105, 109);
}
body .leftcontainer .leftcontainer-bottomcontainer .Simuler .inputcontainer {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  width: 100%;
}
body .leftcontainer .leftcontainer-bottomcontainer .Simuler .inputcontainer label {
  font-size: 0.9rem;
  color: rgb(48, 67, 92);
  font-weight: 500;
}
body .leftcontainer .leftcontainer-bottomcontainer .Simuler .inputcontainer select {
  padding: 0.6rem;
  font-weight: 500;
  background-color: transparent;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.189);
}
body .leftcontainer .leftcontainer-bottomcontainer .Simuler .inputcontainer .inputcontainer_input {
  width: 20%;
  height: 2rem;
  font-size: 1.7rem;
  text-align: center;
  color: rgb(2, 140, 150);
  font-weight: 500;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.406) 0px 2px 3px 0px inset;
  border: 1px solid rgba(0, 0, 0, 0.208);
}
body .rightcontainer {
  width: 25%;
  height: 140vh;
  position: relative;
}
body .rightcontainer .rightcontainer-container {
  top: 0;
  min-height: 10rem;
  width: 100%;
  position: absolute;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
body .rightcontainer .rightcontainer-container #recaptulatif {
  color: rgb(48, 67, 92);
  width: 100%;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .rightcontainer .rightcontainer-container #monproject {
  background-color: rgb(241, 242, 246);
  padding: 0.5rem;
  font-weight: bold;
  color: rgb(48, 67, 92);
  font-size: 1rem;
}
body .rightcontainer .rightcontainer-container .pretpersonel {
  width: 100%;
  height: auto;
  padding: 0.3rem;
}
body .rightcontainer .rightcontainer-container .pretpersonel h2 {
  font-size: 0.9rem;
  color: rgb(2, 175, 201);
}/*# sourceMappingURL=style.css.map */